{
  "rabbitmq": {
    "host": "127.0.0.1",
    "port": 5672,
    "user": "sensu",
    "password": "sensu",
    "vhost": "/sensu"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379
  },
  "api": {
    "host": "127.0.0.1",
    "port": 4567
  },
  "handlers": {
    "default": {
      "type": "set",
      "handlers": [
        "stdout"
      ]
    },
    "stdout": {
      "type": "pipe",
      "command": "cat"
    }
  },
  "checks": {
    "test": {
      "command": "echo -n OK",
      "subscribers": [
        "test"
      ],
      "interval": 60
    }
  },
  "client": {
    "name": "127.0.0.1",
    "address": "127.0.0.1",
    "subscriptions": [
      "test"
    ]
  }
}
